<a href="https://colab.research.google.com/github/mrairadwha/datasciencecoursera/blob/master/pr%C3%A9p_Certif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
math.ceil(2.3)
math.ceil(2.8)
math.frexp(2.5)

(0.625, 2)

In [ ]:
a=float(input("Saisir chiffre"))

Saisir chiffre8

In [ ]:
type(a)

float

In [ ]:
a=input()
b=input()

5
8

In [ ]:
try:
  c=a/b
  print(c)
except:
  print("vérifier le saisi")
finally:
  print("end")

vérifier le saisi
end

In [ ]:
'samedi'>'dimanche'

True

In [ ]:
'lundi'<'mardi'

True

In [ ]:
x="oranges"
y="apples"
z="bananas"
data=" {1} and {0} and {2} "  
print(data.format(z,y,x))

 apples and bananas and oranges

In [ ]:
#Déterminer le nombre de lignes de codes affichées à l'issu de ce code
product=2
n=5
while(n!=0):
  product *= n
  print(product)
  n-=1
  if n==3: break
#La réponse est 2

10
40

In [ ]:
def grosspay(hours=40, rate=25,pieces=0,piecerate=0,salary=0):
  overtime =0
  if pieces >0:
    return pieces*piecerate
  if salary >0:
    pass
  if hours >40:
    overtime=(hours-40)*(1.5*rate)
    return overtime+(40*rate)
  else:
    return hours*rate

In [ ]:
grosspay(pieces=500,piecerate=4)

2000

In [ ]:
40*25

1000

In [ ]:
grade =76
rank =3
if grade>80 and rank>=3:
  grade+=10
elif grade >=70 and rank >3:
  grade +=5
else:
  grade -=5
print(grade)

71

In [ ]:
def reverse_name(backward_name):
  forward_name =""
  length=len(backward_name)-1
  while length > 0:
    forward_name +=backward_name[length]
    length=length-1
    return forward_name

print(reverse_name("nohtyp"))

p

In [ ]:
#the calc_power function calculates exponents
#x is the base
#y is the exponent
#the value of x raised to the y power is returned
def cal_power(x,y):
  comment="#return the value"
  return x**y #raises x to the y power

In [ ]:
import sys
try:
  file_in= open("in.txt",'r')
  file_out= open("in.txt",'w+')
except IOError:
  print("cannot open", file_name)
else:
  i=1
  for line in file_in:
    print(line.rstrip())
    file_out.write("line"+str(i)+": "+line)
    i=i+1
  file_in.close()
  file_out.close()

NameError: ignored

In [ ]:
file_out= open("in.txt",'w+')

In [ ]:
file_out= open("out.txt",'w+')

In [ ]:

num1=eval(input("Veuillez entrer le premier nombre "))
num2=eval(input("Veuillez entrer le deuxième nombre "))

if num1==num2:
  print("both numbers are equal")
if num1<=num2:
  print("number 1 is less than number 2")
if num1>num2:
  print("number 1 is more than number 2")
if num1==num2:
  print("numbers are the same")

Veuillez entrer le premier nombre 5
Veuillez entrer le deuxième nombre 5
both numbers are equal
number 1 is less than number 2
numbers are the same

In [ ]:
x="Hello World"
char="e"
while x != 'Quit':
  num=0
  if char in x:
    num+=1
  print(num)
  x=input("Veuillez saisir un nouveau mot ou bien QUIT pour quitter :")

1
Veuillez saisir un nouveau mot ou bien QUIT pour quitter :medrsz
1
Veuillez saisir un nouveau mot ou bien QUIT pour quitter :poeeerdsq
1
Veuillez saisir un nouveau mot ou bien QUIT pour quitter :quit
0
Veuillez saisir un nouveau mot ou bien QUIT pour quitter :Quit

In [ ]:
import os 
def get_first_line(filename, mode):
  if os.path.isfile(filename):
    with open(filename,'r') as file:
      return file.readline()
  else:
    return None

In [ ]:
def read_file(file):
  line=None
  if os.path.isfile(file):
    data=open(file,'r')
    for line in data:
      print(line)

In [ ]:
#Format du message d'affichage
print("Hello world")
day='Monday'
month='March'
print("Hello, today is {1} of month {0}".format(day, month))

Hello world
Hello, today is March of month Monday

In [ ]:
#Data Types_String methods
a="apple"
a.upper()
a.lower()
#-------------
a="apple is a fruit    "
a.strip()
a.rstrip()
a.lstrip()
#------------
a.isdigit()
a.find('a')
#------------
a.split(' ')

['apple', 'is', 'a', 'fruit', '', '', '', '']

In [ ]:
#Data type Boolean
print(bool(' '))
print(bool(''))
print(bool(0))
print(bool(5))
#True any non zero
print(5 or 0)
print(False +1)
print(False+5-True)

True
False
False
True
5
1
4

In [ ]:
#Data Types_List

liste=[1,2,'str','Hello',2.0]
#ajouter un seul élément
liste.append('a')
print(liste)

#ajouter plusieurs éléments
liste.extend(['a','b','c'])
print(liste)
#ajouter plusieurs éléments à l'aide de insert
liste.insert(0,'apple')
print(liste)

[1, 2, 'str', 'Hello', 2.0, 'a']
[1, 2, 'str', 'Hello', 2.0, 'a', 'a', 'b', 'c']
['apple', 1, 2, 'str', 'Hello', 2.0, 'a', 'a', 'b', 'c']

In [ ]:
#Control flow and loops
#continue pass break
#continue ignore la condition prescrite
liste=[1,2,3,5,7,13,14,15,16]

for i in liste:
  if i==13:
    continue
  print(i)

1
2
3
5
7
14
15
16

In [ ]:
liste=[1,2,3,5,7,13,14,15,16]

for i in liste:
  if i==13:
    pass
  print(i)

1
2
3
5
7
13
14
15
16

In [ ]:
liste=[1,2,3,5,7,13,14,15,16]

for i in liste:
  print(i)
  if i==13:
    break

1
2
3
5
7
13

In [ ]:
liste=[1,2,3,5,7,13,14,15,16]

for i in liste:
  
  if i==13:
    break
  print(i)

In [ ]:
#Utilisation de else avec for et while

for i in range(1,10):
  print(i)
  if i==2:
    break
else:
  print("ok")

1
2

In [ ]:
i=0
while(i<4):
  print(i,end='-')
  i+=1.5
  if ((i<4)==False):
    break
  else:
    print(0,end=' ')

0-0 1.5-0 3.0-

In [ ]:
#Tuple
#une liste inchangée
liste=[1,2,3,3]
tuple1=(1,2,3,3)
tuple1[3] = 4

TypeError: ignored

In [ ]:
print(tuple[3])

tuple[3]

In [ ]:
import math
print(math.factorial(0.01))

<ipython-input-52-6af70c296c03>:2: DeprecationWarning: Using factorial() with floats is deprecated
  print(math.factorial(0.01))

ValueError: ignored

In [ ]:
print(int('0b100',2))

4

In [ ]:
var1='5555'
var2='56'
print(var2>var1)

True

In [ ]:
def show(x):
  print(x)
  return 0

In [ ]:
print(show(1)&show(2)+show(3)*show(4)**show(5))

1
2
3
4
5
0

In [ ]:
#The output of the following code
{1,1.00,1.0,1,3,3.000,3.0,3.00}

{1, 3}

In [ ]:
#Choose the correct output
if((0.1+0.2)==0.3):
  print('if')
elif((0.3+0.4)==0.7):
  print('elif')
else:
  print("else")

elif

In [ ]:
(0.1+0.2)

0.30000000000000004

In [ ]:
0.3+0.4

0.7

In [ ]:
print("This is \"great\" apple")

This is "great" apple

# Perform operations using Data Types

In [ ]:
a=1.0

In [ ]:
#Python est un langage typé
type(a)

float

**Le type String**

In [ ]:
fruit='apple'

In [ ]:
fruit="apple"

In [ ]:
fruit='''apple'''

In [ ]:
sentence="apple is a 'great' fruit"
print(sentence)

apple is a 'great' fruit

In [ ]:
sentence="apple is a \"great\" fruit"
print(sentence)

apple is a "great" fruit

In [ ]:
sentence='that\'s great'
print(sentence)

that's great

In [ ]:
fruit='apple'

In [ ]:
fruit[0]

'a'

In [ ]:
fruit[1]

'p'

In [ ]:
#try to change a into m
#String are immutable! -> underlying components cannot be changed
fruit[0]='m'

TypeError: ignored

In [ ]:
#all the string can be changed but one character cannot be changed within the same string
fruit="Orange"
print(fruit)

Orange

In [ ]:
#String concatenation
fruit1='Apple'
fruit2='Orange'
fruit=fruit1 +' '+fruit2
print(fruit)

Apple Orange

In [ ]:
print(fruit1*3)

AppleAppleApple

In [ ]:
day='Wednesday'
month='March'
print("Today is {} within {}".format(day,month))

Today is Wednesday within March

In [ ]:
day='Wednesday'
month='March'
print("Today is {0} within {1}".format(day,month))

Today is Wednesday within March

In [ ]:
day='Wednesday'
month='March'
print("Today is {1} within {0}".format(day,month))

Today is March within Wednesday

In [ ]:
day='Wednesday'
month='March'
print("Today is {1} within {0}".format(day))

IndexError: ignored

In [ ]:
#String comparison
a="Hello"
b="World"
print(a<b)

True

In [ ]:
a is b

False

In [ ]:
a==b

False

In [ ]:
fruit1='apple'
fruit1

'apple'

In [ ]:
#Converts all caracters into upercases
f=fruit1.upper()
f

'APPLE'

In [ ]:
fruit2='ORANGE'
fruit2

'ORANGE'

In [ ]:
fruit2.lower()

'orange'

In [ ]:
f.swapcase()

'apple'

In [ ]:
f.capitalize()

'Apple'

In [ ]:
a='  Apple  '

In [ ]:
#Eliminate spaces
a.strip()

'Apple'

In [ ]:
#Eliminate spaces on the right side
a.rstrip()

'  Apple'

In [ ]:
#Eliminate spaces on the left side
a.lstrip()

'Apple  '

In [ ]:
#eliminate specified caracter NOT IN BETWEEN
ba="zaaax Orange Orange aa"
ba.strip('a')

'zaaax Orange Orange '

In [ ]:
ba="aaa Orange Orange aa"
ba.strip('a')

' Orange Orange '

In [ ]:
#eliminate spaces as well
ba="aaa Orange Orange aa"
ba.strip('a ')

'Orange Orange'

In [ ]:
#isdigit() is a method built-in the class String and not in the Integer, Float...
a='1'
a.isdigit()

True

In [ ]:
#Gives the position of the first caracter of the element being searched 
#takes into account spaces
#Starts from 0
a='This is a great day'
a.find('day')

16

In [ ]:
a='This is a great day'
a.find(' is')

4

In [ ]:
a='This is a great day'
b=a.split(' ')
b

['This', 'is', 'a', 'great', 'day']

**Le Type Number**

we have two number types: Integer and Float

In [ ]:
a=5
b=1.2
print(type(a),type(b))
#numbers have no limit in length

<class 'int'> <class 'float'>

In [ ]:
a+b
a-b
a*b
a**b
print(a/b)
c=a//b #gives the integer part of the result
print(c)
a%b #gives the integer rest of the euclidian division
a+b #the output between float and integer is ALWAYS float

4.166666666666667
4.0

6.2

**Le type Boolean**

In [ ]:
#True any non zero
print(bool(0))
print(bool())
print(bool(' '))
print(bool('sth'))
print(bool(5))

False
False
True
True
True

In [ ]:
print(False+1)
print(False +5-True)
a=True
bool(a)

1
4

True

# Collections

**Lists**

In [ ]:
my_list=[1,"orange",2.3,False,"pi"]

In [ ]:
my_list[0] #Extract the first element

1

In [ ]:
my_list[-1] #Extract the last element

'pi'

In [ ]:
my_list1=[1,"orange",2.3,False,"pi"]
my_list=[1.23,"apple",3,"pi"]

In [ ]:
#Merges both lists 
my_list1+my_list

[1, 'orange', 2.3, False, 'pi', 1.23, 'apple', 3, 'pi']

In [ ]:
my_list1[0]="Marwa"
my_list1

['Marwa', 'orange', 2.3, False, 'pi']

In [ ]:
#Maintains the order of elements
#Authorizes duplicate elements
#Toelrates elements with different types
#Authorizes to change the value of elements

In [ ]:
#append() adds one element at the end of the list
my_list1.append(3)
my_list1

['Marwa', 'orange', 2.3, False, 'pi', 5, '5', 3]

In [ ]:
#Appends a list of elements at the end of a pre-specfied list
my_list1.append([5,4,7,False])
my_list1

['Marwa', 'orange', 2.3, False, 'pi', 5, '5', 3, [5, 4, 7, False]]

In [ ]:
#Appends a list of elements at the end of a pre-specfied list
#Merges all elements within one list
my_list1.extend([5,4,7,False])
my_list1

[1, 'orange', 2.3, False, 'pi', 5, 4, 7, False]

In [ ]:
my_list1.insert(-1,'A')
my_list1

['Apple',
 'Apple',
 'Apple',
 1,
 'orange',
 2.3,
 False,
 'pi',
 5,
 4,
 7,
 'Apple',
 'Apple',
 'Apple',
 'A',
 False]

In [ ]:
my_list1=[1,2.3,0,5]
sorted_list=my_list1.sort()
print(sorted_list)

None

In [ ]:
#sort() arranges elements according to the alphabetic order 
#do not affect into variable
#to use sort, the list elements should be the same type
my_list1=['orange','Apple','banana','orange']
my_list1.sort()
print(my_list1)

['Apple', 'banana', 'orange', 'orange']

In [ ]:
#index() returns the index of elements according to its first occurrence
my_list1.index('orange')

2

In [ ]:
#Functions
my_liste2=[1,2,15,4,8]
min(my_liste2)
max(my_liste2)
len(my_liste2)
sum(my_liste2)

30

In [ ]:
#Slicing
#Indicate the posistion of starting and ending elements 
#the first element is inclusive
#The last element is exclusive
print(my_liste2[0:3])
print(my_liste2[0:2])

[1, 2, 15]
[1, 2]

In [ ]:
#The third parameter is the skip 
#"skip-1"
my_liste2=[1,2,15,4,8]
print(my_liste2[0:4:2])

[1, 15]

In [ ]:
#Slicing with negative indices is authorized
my_liste2=[1,2,15,4,8]
print(my_liste2[-5:-2])

[]

**Tuple**

In [ ]:
my_tuple=(1,2,15,4,8)

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tuple2=1,2,15,4,8
type(my_tuple2)

tuple

In [ ]:
my_tuple[0]

1

In [ ]:
#tuple is immutable
my_tuple[0]='Marwa'

TypeError: ignored

In [ ]:
my_tuple2=1,2,15,4,8,8,False
my_tuple2

(1, 2, 15, 4, 8, 8, False)

In [ ]:
#Maintains the order of elements
#Authorizes duplicate elements
#Toelrates elements with different types
#Dos not Authorize amendments of the value of elements

In [ ]:
var=1,2,15,4,8,8,False
var2=1,2,10,4,8,8,True

In [ ]:
type(var)

tuple

In [ ]:
#Multiple tuples could be assigned in the same line code
my_tuplea,mytupleb,mytuplec=(1.2,888),(3.5,False),(8.99,True)

1

In [ ]:
liste=[1,2,5]
my_tuple=tuple([1,2,15,4,8,8,False])
print(my_tuple)
print(liste[0]+my_tuple[6])

(1, 2, 15, 4, 8, 8, False)
1

**Dictionnaire**

In [ ]:
#First method for creating a dictionary
d1={"name":"Marwa","Lastname":"HASNI","age":20,"Height":1.71}
d1

{'name': 'Marwa', 'Lastname': 'HASNI', 'age': 20, 'Height': 1.71}

In [ ]:
#Second Method
d2={}
d2['name']="Marwa"
d2['Lastname']="HASNI"
d2['age']=20
d2['Height']=1.71

In [ ]:
d2['name']="Najet"

In [ ]:
d2

{'name': 'Najet', 'Lastname': 'HASNI', 'age': 20, 'Height': 1.71}

**SET**

In [ ]:
my_set={"apple","Orange",1.000,2.3,False,0,10.0,1.00,1,True}
my_set

{1.0, 10.0, 2.3, False, 'Orange', 'apple'}

# Control Flow with Loops and Decision

**Condition If**

In [ ]:
a=5
b=8
if a<b:
  print('true')

true

In [ ]:
a=9
b=8
if a<b:
  print('true')
else:
  print('False')

False

**Loop**

In [ ]:
liste=[1,5,7,8,9]
for i in liste:
  print(i,end=' ')

1 5 7 8 9

In [ ]:
liste=[1,5,7,8,9]
for i in range(0,len(liste)):
  print(liste[i])

1
5
7
8
9

In [ ]:
#range(starting element 'inclusive', ending element 'exclusive', step)
for i in range(10,20,2):
  print(i)

10
12
14
16
18

In [ ]:
i=6
while i<10:
  print('OK')
  i+=1

OK
OK
OK
OK

**Break Continue Pass**

In [ ]:
for i in range(1,20):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(1,20):

  if i%2==0:
    pass
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Perform Input/Output operations

**Saisir des données à partir de l'utilisateur**

In [ ]:
a=eval(input("Saisir chiffre"))

Saisir chiffre7.2

In [ ]:
print(type(a))

<class 'float'>

**Création et gestion de fichiers**

In [ ]:
#First method using open
f = open("demofile.txt",'r+')
f.write("Hello")
f.close()



"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In [ ]:
#Second method using keyword with
with open("demoFile.txt",'w') as f:
  f.write("Hello")

In [ ]:
f = open("demofile.txt",'r+')
#Read the first 5 characters of the file 
print(f.read(5))
#Reads the lines of the file #Return a list of the lines in the file
print(f.readlines())
f.close()

# Documentation and Structure Code

In [ ]:
#this is a comment
''' This is how to
write a comment upon multiple
lines '''

In [ ]:
def somme(a,b):
  '''this function allows
  to sum 2 numbers'''
  return a+b

In [ ]:
somme(5,4)

9

**Functions **

In [ ]:
def sp(a,b):
  s=a+b
  p=a*b
  return s,p

In [ ]:
#Multiple outputs are allowed
produit,somme=sp(4,5)
print(somme,produit)

20 9

In [ ]:
#Python allows to set a default value of a parameter
def sp(a,b=1):
  s=a+b
  p=a*b
  return s,p

In [ ]:
#Default values should be assigned on the right
def sp(a=1,b):
  s=a+b
  p=a*b
  return s,p

SyntaxError: ignored

In [ ]:
somme,produit=sp(4,5)
print(somme,produit)

9 20

In [ ]:
somme,produit=sp(4)
print(somme,produit)

5 4

In [ ]:
def difference(a,b):
  d=a-b
  return d

In [ ]:
difference(5,6)

-1

In [ ]:
difference(6,5)

1

In [ ]:
difference(b=6,a=5)

-1

# Trouble Shouting and Error Handling

In [ ]:
a=input()
b=eval(input())

8
0

In [ ]:
a/b

TypeError: ignored

In [ ]:
try:
  c=a/b
except ZeroDivisionError:
  print("Saisir un dénominateur non null")

except TypeError:
  print("Vérifier le type des données")
finally:
  print("bye")

Vérifier le type des données
bye

# Important Classes

In [ ]:
from random import *

In [ ]:
randint(1,10)

2

In [ ]:
randrange(1,10)

6

In [ ]:
liste=["Orange","Apple","Banana","pepper"]

In [ ]:
print(sample(liste,2))

['Apple', 'Banana']

In [ ]:
import datetime

# get the current date and time
now = datetime.datetime.now()

print(now)

2023-03-22 15:15:42.035099

In [ ]:
import datetime

# get current date
current_date = datetime.date.today()

print(current_date)

2023-03-22

In [ ]:
import datetime

d = datetime.date(2022, 12, 25)
print(d)

2022-12-25

In [ ]:
from datetime import date

# date object of today's date
today = date.today() 

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2023
Current month: 3
Current day: 22

In [ ]:
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("Time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%D/%B/%y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

Time: 07:59:05
s1: 03/24/2023, 07:59:05
s2: 03/24/23/March/23, 07:59:05

In [ ]:
from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("Time:", t)
print(type(t))

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

Time: 07:59:18
<class 'str'>
s1: 03/24/2023, 07:59:18
s2: 24/03/2023, 07:59:18

%Y - year [0001,..., 2018, 2019,..., 9999]

%m - month [01, 02, ..., 11, 12]

%d - day [01, 02, ..., 30, 31]

%H - hour [00, 01, ..., 22, 23]

%M - minute [00, 01, ..., 58, 59]

%S - second [00, 01, ..., 58, 59]

In [ ]:
from datetime import datetime

date_string = "25 December, 2022"
print("date_string =", date_string)

# use strptime() to create date object
date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object =", date_object)

date_string = 25 December, 2022
date_object = 2022-12-25 00:00:00

%d, %B and %Y format codes are used for day, month(full name) and year respectively.

In [ ]:
if((0.1+0.2)==0.3):
  print('if')
elif((0.3+0.4)==0.7):
  print('elif')
else:
  print("else")

elif

In [ ]:
print(0.1+0.2)

0.30000000000000004

In [ ]:
def grosspay(hours=40, rate=25,pieces=0,piecerate=0,salary=0):
  overtime =0
  if pieces >0:
    return pieces*piecerate
  if salary >0:
    pass
  if hours >40:
    overtime=(hours-40)*(1.5*rate)
    return overtime+(40*rate)
  else:
    return hours*rate

In [ ]:
 grosspay(pieces=500,piecerate=4)

2000

# DateTime in Python


En Python un instant de temps est  représenté par le type  datetime

**Création de variables de type datetime**

In [2]:
#import datetime
from datetime import datetime
#Pour créer une variable de type datetime, il faut indiquer au moins l'année, le mois et le jour dans cet ordre
d1=datetime(2004,4,7)
print(d1)
#Comme complément, on peut ajouter l'heure, la minute et la seconde, dans cet ordre
'''Heure : nombre entre 0 et 23
   Minutes : nombre entre 0 et 59
   Secondes : nombre entre 0 et 59'''

d2=datetime(2004,4,7,12,45,16)
print(d2)

2004-04-07 00:00:00
2004-04-07 12:45:16

**Récupération de données à partir d'une variable de type datetime**

In [3]:
#Soit une date 
d=datetime(2014,4,7,12,45,16)

In [10]:
#Récupérer l'année dans une variable y
y=d.year
print("l\'année est:",y)
#Récupérer le mois dans une variable y
m=d.month
print("le mois est:",m)
#Récupérer le jour dans une variable y
day=d.day
print("le jour est:",day)
#Récupérer l'heure dans une variable y
h=d.hour
print("l\'heure est:",h)
#Récupérer les minutes dans une variable y
min=d.minute
print("les minutes sont:",min)
#Récupérer les secondes dans une variable y
s=d.second
print("les secondes sont:",s)

l'année est: 2014
le mois est: 4
le jour est: 7
l'heure est: 12
les minutes sont: 45
les secondes sont: 16

**Conversion de chaine de caractères en 
datetime**

Si la date est saisie à partir d'un utilisateur (input) elle va être entrée en type "String". Il faudrait donc la convertir en type datetime pour pouvoir la manipuler

Pour convertir une chaîne en datetime, utiliser la fonction    datetime.strptime
Cette fonction prend deux arguments : 

1.   La valeur de la chaine de caractères, exemple : ‘26/02/2010’
2.   Le format de la date, exemple: ‘%d/%m/%Y’

In [12]:
d=datetime.strptime('26/02/2010','%d/%m/%Y')
#les ordres doivent être respectés 
#26 reflète le jour et d est sont factorial
#26 et d doivent être saisi au mêm rang dans la structure 'String' et 'Format'

**Divers Formats datetime**

Il existe différentes formats pour affciher les composantes d'une variable datetime

![1.png]()

**Conversion de datetime en chaine de 
caractères**


Pour convertir une datetime en une chaîne, il faut utiliser la fonction 
datetime.strftime

In [26]:
#Soit la variable date suivante
d=datetime(2014,4,7,12,45,16)
#Extraire le jour et l'afficher en tant que String
whole_day=d.strftime('%A')
print("le jour en totalité: ",whole_day)
abr_day=d.strftime('%a')
print("le jour en abbréviation: ", abr_day)
#Extraire le jour complet, le rang du mois, l'année complète séparés par des tirets
format_date=d.strftime('%A-%d-%Y')
print(format_date)

le jour en totalité:  Monday
le jour en abbréviation:  Mon
Monday-07-2014


# Calcul et Gestion des durée sur Python
Une durée de temps est 
représentée par le type 
timedelta

In [30]:
#Python est capable de comparer 2 dates
d1=datetime(2004,4,7,14,25,54)
d2=datetime(2014,4,7,16,15,45)
d1<d2

True

In [31]:
#On peut calculer une durée de type timedelta par la différence entre deux dates
duree=d2-d1
duree

datetime.timedelta(days=3652, seconds=6591)

In [33]:
# Remarquez à partir du code précédent que Une durée est composée d’une partie en jours et une partie en secondes
print(duree.days)
print(duree.seconds)

3652
6591